@model  ProjectFood.Models.ViewModels.RecipeVM.RecipeVM

@{
    List<bool> trueList = new List<bool>();

    @foreach (var item in Model.IngredientMatch)
    {
        if (item.UserHasItem)
        {
            trueList.Add(true);
        }
    }
}

@if (trueList.Count == Model.IngredientMatch.Count)
{
    <b>Du har allt till detta recept!</b>
    <ul></ul>
    @for (int i = 0; i < 8; i++)
    {
        <br />
    }
}
else
{
    
    <b>Du har <span style="color: forestgreen">@trueList.Count av @Model.Ingredients.Count ingredienser</span>. Du saknar: </b>
    <ul>
        @foreach (var item in Model.IngredientMatch)
        {
            if (!item.UserHasItem)
            {
                <li>@item.FoodItem</li>
            }
        }
        
    </ul>
    @for (int i = Model.IngredientMatch.Count - trueList.Count; i < 8; i++)
    {
        <br />
    }


}


