@{
    ViewData["Title"] = "About";
}

    <!-- Team Section -->
<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Det här är vi</h2>
                <h3 class="section-subheading text-muted">Vi är bäst.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="http://academy.se/wp-content/uploads/2016/09/Academic_Work_2016-09-13_029-kopiera.png" class="img-responsive img-circle" alt="">
                    <h4>Linn Karlsson</h4>
                    <br />
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="http://academy.se/wp-content/uploads/2016/09/Academic_Work_2016-09-13_005-kopiera.png" class="img-responsive img-circle" alt="">
                    <h4>Lina Jonsson</h4>
                   <br />
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="http://academy.se/wp-content/uploads/2016/09/Academic_Work_2016-09-13_012-kopiera.png" class="img-responsive img-circle" alt="">
                    <h4>Malin Ulriksson</h4>
                    <br />
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="http://academy.se/wp-content/uploads/2016/09/Academic_Work_2016-09-13_023-kopiera.png" class="img-responsive img-circle" alt="">
                    <h4>Johanna Samuelsen</h4>
                   <br />
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="http://academy.se/wp-content/uploads/2016/09/Academic_Work_2016-09-13_013-kopiera.png" class="img-responsive img-circle" alt="">
                    <h4>Viktor Ilestrand</h4>
                    <br />
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted">Kontakt: Nej tack.</p>
            </div>
        </div>
    </div>
</section>