@{
    ViewData["Title"] = "HomeIndex";
}


<header style="position:absolute; z-index:1">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Behöver du inspiration i köket?</div>
            <div class="intro-heading">Vi hjälper dig!</div>
            <a asp-controller="User" asp-action="Register" class="page-scroll btn btn-xl">Skapa Konto</a>
        </div>
    </div>
</header>

<img style="position:absolute; z-index:0" src="https://static.pexels.com/photos/64208/pexels-photo-64208.jpeg" />
