@model ProjectFood.Models.ViewModels.UserVM.MyKitchenVM

@{
    ViewData["Title"] = "MyKitchen";
}
<style>
    body {
        padding-top: 130px;
    }
</style>




<div class="ui-widget">
    <label for="myFood">Sök Matvara: </label>
    <input id="myFood">
</div>

<div class="ui-widget" style="margin-top:2em; font-family:Arial">
    MAT
    <div id="log" style="height: 200px; width: 150px; overflow: auto;" class="ui-widget-content">
        @{foreach (var item in Model.MyFood)
            {
                @item.FoodItem.Name <br/>
            }
        } 
    </div>
</div>

@*@{ foreach (var item in Model.AddableFood)
    {
        @item.Name <br />
    }
}*@