@model ProjectFood.Models.ViewModels.UserVM.MyKitchenVM

@{
    ViewData["Title"] = "MyKitchen";
}
<style>
    body {
        padding-top: 130px;
    }
</style>




<div class="ui-widget">
    <label for="myFood">Sök Matvara: </label>
    <input id="myFood">
</div>

<div class="ui-widget" style="margin-top:2em; font-family:Arial" >
    MAT
    <ul id="log" style="height: 200px; width: 150px; overflow: auto; list-style-type: none; padding: 0; margin:0;" class="ui-widget-content">
        @{int index = 0; }
        @{foreach (var item in Model.MyFood)
            {
                <li id="@item.FoodItem.Name" onclick="doStuff(@item.FoodItem.Name, @index)">@item.FoodItem.Name</li>
                index++;
            }
        } 
    </ul>
</div>

@*@{ foreach (var item in Model.AddableFood)
    {
        @item.Name <br />
    }
}*@