@model ProjectFood.Models.ViewModels.UserVM.MyKitchenVM

<ul>
    @{foreach (var userFoodItem in Model.MyFood)
        {
            <li>
                @userFoodItem.FoodItem.Name
                <br />
                @userFoodItem.Expires
                <br />
            </li>
        }
    }
</ul>